/* This @supports selector is a temporary fix for https://github.com/microsoft/vscode/issues/213045#issuecomment-2211442905 */
@supports selector(::-webkit-scrollbar) {
  html {
    scrollbar-color: unset;
  }
}

/* content in web component slots don't inherit box-sizing properly, just brute forcing border-box */
/*
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
*/

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* avoids FOUC for elements not yet called with `define()` */
:not(:defined) {
  visibility: hidden;
}

[hidden] {
  display: none !important;
}

.preload {
  opacity: 0;
}

body:not(.preload) {
  transition: opacity 0.1s ease-in;
}
